<!-- <app-navbar></app-navbar>
<main-content></main-content>
<app-sidebar></app-sidebar> -->
<main-content>
    <div navbar class="is-fullwidth">
        <app-navbar></app-navbar>
    </div>
    <div sidebar-header>
        <img src="/assets/logo.png" alt="logo" class="img-logo-xl is-pointer" [ngClass]="{'img-logo-s': !openSidebar}" (click)="openSidebar = !openSidebar">
    </div>
    <div sidebar>
        <app-sidebar [opened]="openSidebar"></app-sidebar>
    </div>
    <div app-content>
        Contenido principal
    </div>
</main-content>