<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/logo.png" alt="" width="50%" height="100%" class="d-inline-block align-top">
        </a>
        <div class="d-flex">
            <div class="dropdown">
                <span class="dropdown-toggle dropdown-toggle-split" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Iniciar Sesión
                </span>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <form class="px-4 py-3">
                        <mat-form-field class="example-full-width">
                            <mat-label>Correo</mat-label>
                            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                              Porfavor ingresa un correo valido
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                              correo es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Contraseña</mat-label>
                            <input type="password" matInput [formControl]="passwordFormControl">
                            <mat-error *ngIf="passwordFormControl.hasError('required')">
                              contraseña es <strong>requerida</strong>
                            </mat-error>
                        </mat-form-field>
                        <div class="d-flex flex-row-reverse">
                            <button mat-raised-button color="primary">Entrar</button>
                        </div>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</nav>