@import '../../../../styles/styles.scss';

.main-content {
  display: flex;
  height: 100%;
}

#left {
  flex-shrink: 0;
}

.custom-column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.custom-content {
  flex-grow: 1;
  overflow-y: auto;
  height: 100%;
}

.custom-height {
  height: 70px;
  box-shadow: 0 4px 5px -3px rgba(43, 43, 43, 0.1);
}

.bg-content {
  background-color: #f2f7fb;
}

.app-content {
  font-family: "Quicksand",sans-serif;
}

.app-navbar {
  font-family: "Quicksand",sans-serif;
}

.app-sidebar {
  font-family: "Quicksand",sans-serif;
}