<div class="main-content">
    <div id="left" class="column">
        <div class="navbar navbar-light bg-light custom-height">
            <ng-content select="[sidebar-header]"></ng-content>
        </div>
        <div class="custom-content bg-light">
            <ng-content select="[sidebar]"></ng-content>
        </div>
    </div>
    <div id="right" class="column is-fullwidth">
        <div class="navbar navbar-light bg-light custom-height">
            <ng-content select="[navbar]"></ng-content>
        </div>
        <div class="custom-content bg-content">
            <ng-content select="[app-content]"></ng-content>
        </div>
    </div>
</div>